In [115]:
import torch

In [116]:
import torch.nn as nn

In [117]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [118]:
data=pd.read_csv("test.csv",encoding="latin-1")

In [119]:
data.head()

       textID  ... Density (P/Km²)
0  f87dea47db  ...            60.0
1  96d74cb729  ...           105.0
2  eee518ae67  ...            18.0
3  01082688c6  ...           164.0
4  33987a8ee5  ...            26.0

[5 rows x 9 columns]

In [120]:
data.columns

Index(['textID', 'text', 'sentiment', 'Time of Tweet', 'Age of User',
       'Country', 'Population -2020', 'Land Area (Km²)', 'Density (P/Km²)'],
      dtype='object')

In [121]:
data=data[['text' ,'sentiment']]

In [122]:
data

                                                   text sentiment
0     Last session of the day  http://twitpic.com/67ezh   neutral
1      Shanghai is also really exciting (precisely -...  positive
2     Recession hit Veronique Branquinho, she has to...  negative
3                                           happy bday!  positive
4                http://twitpic.com/4w75p - I like it!!  positive
...                                                 ...       ...
4810                                                NaN       NaN
4811                                                NaN       NaN
4812                                                NaN       NaN
4813                                                NaN       NaN
4814                                                NaN       NaN

[4815 rows x 2 columns]

remove nan from both rows and the columns

In [123]:
data=data.dropna (subset='text')
data=data.dropna (subset='sentiment')

remove punctuation

In [124]:
import string
s=string.punctuation

In [125]:
for i in range(len(data)):
    s1=""
    
    for ch in data.loc[i,'text']:
        if ch not in s:
            s1+=ch
    data.loc[i,'text']=s1

remove spelling errors

In [126]:
import textblob

In [127]:
from textblob import TextBlob

In [128]:
# data.loc[:100,'text']=data.loc[:100,'text'].apply(lambda x :str(TextBlob(x).correct()))

REMOVE STOPWORDS

In [129]:
import nltk

In [130]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words=set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to C:\Users\AMAN KUMAR
[nltk_data]     SINGH\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [131]:
for i in range(len(data)):
    text=data.loc[i,'text']
    s1=[]
    i=0
    words=text.split()
    for  word in words:
        if word not in stop_words:
            s1.append(word)
    
    data.loc[i,'text']=' '.join(s1)

In [132]:
data

                                                   text sentiment
0            httptwitpiccom4woj2 omgssh ang cute ng bby   neutral
1      Shanghai is also really exciting precisely  s...  positive
2     Recession hit Veronique Branquinho she has to ...  negative
3                                            happy bday  positive
4                        httptwitpiccom4w75p  I like it  positive
...                                                 ...       ...
3529  its at 3 am im very tired but i cant sleep  bu...  negative
3530  All alone in this old house again  Thanks for ...  positive
3531   I know what you mean My little dog is sinking...  negative
3532  sutra what is your next youtube video gonna be...  positive
3533       httptwitpiccom4woj2  omgssh  ang cute ng bby  positive

[3534 rows x 2 columns]

stemming

In [133]:
# from nltk.stem import PorterStemmer
# stemmer=PorterStemmer()
# for i in range(len(data)):
#     sen=data.loc[i,'text']
#     words=sen.split(' ')
#     ans=[]
#     for j in words:
#         ans.append (stemmer.stem(j))
#     data.loc[i,'text']=' '.join(ans)

In [ ]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer   
lammetizer=WordNetLemmatizer()
for i in range(len(data)):
    sen=data.loc[i,'text']
    words=sen.split(' ')
    ans=[]
    for j in words:
        ans.append (lammetizer.lemmatize(j))
    data.loc[i,'text']=' '.join(ans)

[nltk_data] Downloading package wordnet to C:\Users\AMAN KUMAR
[nltk_data]     SINGH\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [139]:
from nltk.tokenize import word_tokenize

for i in range(len(data)):
    sen=data.loc[i,'text']
    
    data.loc[i,'text']=word_tokenize(sen)

In [140]:
data

                                                   text sentiment
0     [httptwitpiccom4woj2, omgssh, ang, cute, ng, bby]   neutral
1     [Shanghai, is, also, really, exciting, precise...  positive
2     [Recession, hit, Veronique, Branquinho, she, h...  negative
3                                         [happy, bday]  positive
4                    [httptwitpiccom4w75p, I, like, it]  positive
...                                                 ...       ...
3529  [it, at, 3, am, im, very, tired, but, i, cant,...  negative
3530  [All, alone, in, this, old, house, again, Than...  positive
3531  [I, know, what, you, mean, My, little, dog, is...  negative
3532  [sutra, what, is, your, next, youtube, video, ...  positive
3533  [httptwitpiccom4woj2, omgssh, ang, cute, ng, bby]  positive

[3534 rows x 2 columns]